API/bin/Debug/netcoreapp1.1/API.dll
API/bin/Debug/netcoreapp1.1/API.pdb
API/bin/Debug/netcoreapp1.1/BLL.dll
API/bin/Debug/netcoreapp1.1/BLL.pdb
API/obj/Debug/netcoreapp1.1/API.dll
API/obj/Debug/netcoreapp1.1/API.pdb
BLL/bin/Debug/netstandard1.5/BLL.dll
BLL/bin/Debug/netstandard1.5/BLL.pdb
BLL/obj/Debug/netstandard1.5/BLL.dll
BLL/obj/Debug/netstandard1.5/BLL.pdb
API/bin/Debug/netcoreapp1.1/DAL.pdb
API/bin/Debug/netcoreapp1.1/BE.dll
API/bin/Debug/netcoreapp1.1/BE.pdb
API/bin/Debug/netcoreapp1.1/DAL.dll
XUT/obj/Debug/netcoreapp1.1/XUT.dll
BE/bin/Debug/netstandard1.5/BE.dll
BE/bin/Debug/netstandard1.5/BE.pdb
BE/obj/Debug/netstandard1.5/BE.dll
BE/obj/Debug/netstandard1.5/BE.pdb
BLL/bin/Debug/netstandard1.5/BE.dll
BLL/bin/Debug/netstandard1.5/BE.pdb
BLL/bin/Debug/netstandard1.5/DAL.dll
BLL/bin/Debug/netstandard1.5/DAL.pdb
DAL/bin/Debug/netstandard1.5/BE.dll
DAL/bin/Debug/netstandard1.5/BE.pdb
DAL/bin/Debug/netstandard1.5/DAL.dll
DAL/bin/Debug/netstandard1.5/DAL.pdb
DAL/obj/Debug/netstandard1.5/DAL.dll
DAL/obj/Debug/netstandard1.5/DAL.pdb
XUT/bin/Debug/netcoreapp1.1/BE.dll
XUT/bin/Debug/netcoreapp1.1/BE.pdb
XUT/bin/Debug/netcoreapp1.1/BLL.dll
XUT/bin/Debug/netcoreapp1.1/BLL.pdb
XUT/bin/Debug/netcoreapp1.1/DAL.dll
XUT/bin/Debug/netcoreapp1.1/DAL.pdb
XUT/bin/Debug/netcoreapp1.1/xunit.runner.reporters.netstandard15.dll
XUT/bin/Debug/netcoreapp1.1/xunit.runner.utility.netstandard15.dll
XUT/bin/Debug/netcoreapp1.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
XUT/bin/Debug/netcoreapp1.1/XUT.dll
XUT/bin/Debug/netcoreapp1.1/XUT.pdb
XUT/obj/Debug/netcoreapp1.1/XUT.pdb
XUT/obj/Debug/netcoreapp1.1/XUT.Program.cs
API/obj/Debug/netcoreapp1.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
BE/obj/Debug/netstandard1.5/BE.csproj.FileListAbsolute.txt
BE/obj/Debug/netstandard1.5/CoreCompileInputs.cache
BLL/obj/Debug/netstandard1.5/BLL.csproj.FileListAbsolute.txt
BLL/obj/Debug/netstandard1.5/CoreCompileInputs.cache
DAL/obj/Debug/netstandard1.5/CoreCompileInputs.cache
DAL/obj/Debug/netstandard1.5/DAL.csproj.FileListAbsolute.txt
XUT/bin/Debug/netcoreapp1.1/XUT.deps.json
XUT/bin/Debug/netcoreapp1.1/XUT.runtimeconfig.dev.json
XUT/bin/Debug/netcoreapp1.1/XUT.runtimeconfig.json
XUT/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
XUT/obj/Debug/netcoreapp1.1/XUT.AssemblyInfo.cs
XUT/obj/Debug/netcoreapp1.1/XUT.csproj.FileListAbsolute.txt
