API/bin/Debug/netcoreapp1.1/API.dll
API/bin/Debug/netcoreapp1.1/API.pdb
API/bin/Debug/netcoreapp1.1/BLL.dll
API/bin/Debug/netcoreapp1.1/BLL.pdb
API/obj/Debug/netcoreapp1.1/API.dll
API/obj/Debug/netcoreapp1.1/API.pdb
BLL/bin/Debug/netstandard1.5/BLL.dll
BLL/bin/Debug/netstandard1.5/BLL.pdb
BLL/obj/Debug/netstandard1.5/BLL.dll
BLL/obj/Debug/netstandard1.5/BLL.pdb
